---
Checks: '
    abseil-*,
    altera-*,
    android-*,
    boost-*,
    bugprone-*,
    cert-*,
    clang-diagnostic-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    darwin-*,
    fuchsia-*,
    google-*,
    hicpp-*,
    linuxkernel-*,
    llvm-*,
    misc-*
    modernize-*,
    mpi-*,
    objc-*,
    openmp-*,
    performance-*,
    portability-*,
    readability-*,
    zircon-*,
    -modernize-use-trailing-return-type,
    -fuchsia-default-arguments-calls 
'
CheckOptions: [
    { key: readability-identifier-naming.NamespaceCase,         value: lower_case               },
    { key: readability-identifier-naming.PrivateMemberSuffix,   value: _                        },
    { key: readability-identifier-naming.ProtectedMemberSuffix, value: _                        },
    { key: readability-identifier-naming.MemberCase,            value: lower_case               },
    { key: readability-identifier-naming.ConstantCase,          value: lower_case               },
    { key: readability-identifier-naming.VariableCase,          value: lower_case               },
    { key: readability-identifier-naming.ParameterCase,         value: lower_case               },
    { key: readability-identifier-naming.GlobalVariableCase,    value: lower_case               },
    { key: readability-identifier-naming.StructCase,            value: Leading_upper_snake_case },
    { key: readability-identifier-naming.ClassCase,             value: Leading_upper_snake_case },
    { key: readability-identifier-naming.UnionCase,             value: Leading_upper_snake_case },
    { key: readability-identifier-naming.EnumCase,              value: Leading_upper_snake_case },
    { key: readability-identifier-naming.FunctionCase,          value: lower_case               },
    { key: readability-identifier-naming.PrivateMethodSuffix,   value: _                        },
    { key: readability-identifier-naming.ProtectedMethodSuffix, value: _                        },
    { key: readability-identifier-naming.MethodCase,            value: lower_case               },
    { key: readability-identifier-naming.TypedefCase,           value: Leading_upper_snake_case },
    { key: readability-identifier-naming.TemplateParameterCase, value: Leading_upper_snake_case }
]
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
