# https://clangd.llvm.org/config.html

CompileFlags:
    Compiler: clang++
    Add: [-xc++, -Wall, -Wextra, -Wpedantic]
---
Index:
    Background: Build
    StandardLibrary: No
---
Style:
    FullyQualifiedNamespaces: Yes
---
Diagnostics:
    UnusedIncludes: Strict
---
InlayHints:
    Designators: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
---
Hover:
    ShowAKA: Yes
