// Standard includes
#include <iostream>

// Package includes
#include <{{ package_name }}/version.hpp>

int main() {
    std::cout << "\nCompiletime Version: \t"
              << {{ namespace }}::compiletime_version << "\nRuntime Version: \t"
              << {{ namespace }}::get_runtime_version()
              << "\n\nThe test succeeded!\n";
}
