// Standard includes
#include <iostream>

// Local includes
#include "../{{ version_header_dir }}/version.hpp"

int main(int argc, char** argv) {
    std::cout << "\nCompiletime Version:\t"
              << {{ namespace }}::compiletime_version << "\nRuntime Version:\t"
              << {{ namespace }}::get_runtime_version() << "\n\n";

    return 0;
}
