// Local includes
#include "../___version_header_dir___/version.hpp"

namespace ___namespace___ {

const char* get_runtime_version() {
    return ::___namespace___::compiletime_version;
}

} // namespace ___namespace___
