// Local includes
#include "../{{ version_header_dir }}/version.hpp"

namespace {{ namespace }} {

const char* get_runtime_version() {
    return ::{{ namespace }}::compiletime_version;
}

} // namespace {{ namespace }}
