// External includes
#include <gtest/gtest.h>

// Local includes
#include "../{{ version_header_dir }}/version.hpp"

TEST(version_test, runtime_version_matches_compiletime_version) {
    ASSERT_STREQ(
            {{ namespace }}::get_runtime_version(),
            {{ namespace }}::compiletime_version);
}
