// Standard includes
#include <array>
#include <iostream>

// Package includes
#include <____namespace____/version.hpp>

int main() {
    std::cout << "\nCompiletime Version: \t" << ____namespace____::compiletime_version
              << "\nRuntime Version: \t" << ____namespace____::get_runtime_version()
              << "\n\nThe test succeeded!\n";
}
