# **{{ package_name }}**

{{ description }}

## Build from Source

{% if conan == "true" %}
### 1.&nbsp; Install a C++ compiler, Git, and Python.
{% else %}
### 1.&nbsp; Install a C++ compiler and Meson.
{% endif %}

#### Windows:

Install ONE of the following C++ compilers:

- [Visual Studio's C++ compiler](https://visualstudio.microsoft.com/downloads/) (MSVC)
    - Select the "Desktop development with C++" option.
- [MinGW](https://sourceforge.net/projects/mingw/) (GCC for Windows)
    - Mark "mingw32-gcc-g++" for installation. Then select "Apply Changes" within the "Installation" dropdown.
    - Add the MinGW bin directory (C:\\MinGW\\bin\\) to your [PATH](https://stackoverflow.com/questions/5733220/how-do-i-add-the-mingw-bin-directory-to-my-system-path).

{% if conan == "true" %}
Install Git and Python:

1. [Git](https://git-scm.com/downloads/) (distributed version control)
2. [Python](https://python.org/downloads/) (interpreted scripting language)
    - Select the "Add python.exe to PATH" option.
{% else %}
Install [Meson](https://mesonbuild.com) (C++ meta-build system):
    - Download and execute the Windows installer (.msi file) from the [official repository](https://github.com/mesonbuild/meson/releases).
{% endif %}

#### Mac:

Install [Homebrew](https://brew.sh/) (package manager for Mac) by opening a terminal and entering the following command:

```zsh
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
```

{% if conan == "true" %}
Use Homebrew to install Git, Python, and GCC (C++ compiler):

```zsh
brew install git python gcc
```
{% else %}
Use Homebrew to install GCC (C++ compiler):

```zsh
brew install gcc
```

Follow these instructions to install [Meson](https://mesonbuild.com/SimpleStart.html) (C++ meta-build system).
{% endif %}

#### Linux (Ubuntu):

{% if conan == "true" %}
```bash
sudo apt install git python3 build-essential
```
{% else %}
```bash
sudo apt install meson ninja build-essential
```
{% endif %}

#### Linux (Arch):

{% if conan == "true" %}
```bash
sudo pacman -S git python base-devel
```
{% else %}
```bash
sudo pacman -S git meson base-devel
```
{% endif %}

### 2.&nbsp; Clone this project.

{% if conan == "true" %}
Open command prompt (Windows) or a shell (Linux & Mac) and enter the commands below. This project will be downloaded to the current working directory.

```
git clone {{ url }}
cd {{ package_name }}
```

> NOTE: This project must be cloned with Git. Do NOT download this project from a hosting platform (e.g. GitHub) because the .git folder will not be included. Project versioning depends on the contents of the .git folder. If the .git folder is missing or corrupted (or Git is not installed) this project will be assigned a null version of "0.0.0".
{% else %}
This project can be downloaded online [here]({{ url }}).

Alternatively, if you have [Git](https://git-scm.com/downloads/) installed, open command prompt (Windows) or a shell (Linux & Mac) and enter the commands below.  This project will be downloaded to the current working directory.

```
git clone {{ url }}
cd {{ package_name }}
```
{% endif %}

### 3.&nbsp; Build this project from source.

```
{% if conan == "true" %}
python build.py
{% else %}
meson setup build
cd build
ninja
{% endif %}
```

## **TODO**

- [ ] Start development.
