# **{{ package_name }}**

{{ description }}

## Build from Source

### 1.&nbsp; Install Git, Python, and a C++ compiler

#### Windows:

Install Git and Python:

1. [Git](https://git-scm.com/downloads/) (distributed version control)
2. [Python](https://python.org/downloads/) (interpreted scripting language)
    - Select the "Add python.exe to PATH" option.

Install one of the following C++ compilers:

- [Visual Studio's C++ compiler](https://visualstudio.microsoft.com/downloads/) (MSVC)
    - Select the "Desktop development with C++" option.
- [MinGW](https://sourceforge.net/projects/mingw/) (GCC for Windows)
    - Mark "mingw32-gcc-g++" for installation. Then select "Apply Changes" within the "Installation" dropdown.
    - Add the MinGW bin directory (C:\\MinGW\\bin\\) to your [PATH](https://stackoverflow.com/questions/5733220/how-do-i-add-the-mingw-bin-directory-to-my-system-path).

#### Mac:

Install [Homebrew](https://brew.sh/) (package manager for Mac) by opening a terminal and entering the following command:

```zsh
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
```

Use Homebrew to install Git, Python, and GCC (C++ compiler):

```zsh
brew install git python gcc
```

#### Linux (Ubuntu):

```bash
sudo apt install git python3 build-essential
```

#### Linux (Arch):

```bash
sudo pacman -S git python base-devel
```

### 2.&nbsp; Clone this template

Open command prompt (Windows) or a shell (Linux & Mac) and enter the commands below. The template will be downloaded to the current working directory.

```
git clone {{ url }}
cd {{ package_name }}
```

### 3.&nbsp; Build from source

```
python build.py
```

## **TODO**

- [ ] Start development.
